* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    font-size: 42px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.margn-botm {
    margin-bottom: 30px;
}


a {
    font-weight: 600;
    font-size: 16px;
    color: #3CAB90;
    cursor: pointer;
}


button{
    width: 190px;
    height: 41px;
    padding: 12px 34px 12px 34px;
    margin-right: 15px;
    border: 0px;
    border-radius: 109px;
    cursor: pointer;
}

/* Navbar Section */

#header {
    height: 86px;
    background-color: #0b9586;
    display: flex;
    justify-content: space-between;
    padding: 16px 150px;  
}

.navbar-logo {
    width: 157px;
    height: 54px;
    opacity: 0.4;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-menu li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 8px 28px 8px 28px;
    font-size: 18px;
    font-weight: 400;
}

.navbar-menu #Home-btn {
    background-color: #0a8c7e;
    border-bottom: 3px solid #076258;
    border-radius: 5px;
    font-weight: 700;
}

#header div {
    position: relative;
}

#header div h2 {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

#header div span {
    color: white;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    right: 0%;
}

/* First Section */

div#first-section {
    height: 650px;
    background-image: url("../images/solar-panels-meadow1.png");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    margin-bottom: 50px;
}

div#first-section div.container {
    padding: 70px 0px;
}

div#first-section div.line-section {
    display: flex;
    justify-content: space-between;
    width: 332.83px;
    color: white;
    position: relative;
    margin-bottom: 100px;
}

div#first-section div.line-section div.line {
    margin-top: 8px;
}

div#first-section div.line-section div.line hr.line1 {
    width: 89.01px;
    border: 2px solid white; 
    position: absolute;
}

div#first-section div.line-section div.line hr.line2 {
    width: 220.59px;
    border: 2px solid #575757;
}

div#first-section div.content {
    width: 55%;
}

div#first-section div.content h2 {
    font-size: 52px;
    color: white;
}

div#first-section div.content p {
    font-size: 20px;
    margin: 20px 0;
}

div#first-section div.content div.btn {
    display: flex;
    justify-content: left;
}

button.green-btn{
    width: 170px;
    background-color: #3CAB90;
    color: white;
}

button.yellow-btn{
    background-color: #FFBB1C;
    color: black;
}

/* second section */

div#second-section {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 39px;
}

div#second-section div.content {
    flex: 0 0 58%;
}

div#second-section div.content p.description {
    margin: 30px 0 60px 0;
    color: black;
    font-size: 16px;
}

div#second-section div.content span.content-list {
    font-weight: 700;
    font-size: 20px;
    color: #84BD3A;
}

div#second-section div.content p {
    font-weight: 600;
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
}

div#second-section div.image-part {
    position: relative;
    flex: 38%;
}

div#second-section div.image-part div.img {
    background-image: url("../images/Rectangle\ 30.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 469px;
    height: 552px;
    border-radius: 12px;
}
div#second-section div.image-part div.info {
    width: 266px;
    height: 208px;
    padding: 24px 30px;
    border-radius: 12px;
    background-color: #FFBB1C;
    position: absolute;
    bottom: 12%;
    left: -15%;
}

div#second-section div.image-part div.info img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

div#second-section div.image-part div.info p {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: black;
}


/* CTA Section */
div#cta-section {
    height: 505px;
    background-image: url("../images/8116\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10% 0;
}

div#cta-section div.container h2 {
    color: white;
}

div#cta-section div.container p {
    width: 50%;
    font-size: 20px;
    margin: 40px 0;
} 

div#cta-section div.container button.yellow-btn {
    font-weight: 400;
    font-size: 14px;
}

/* Solar Kits Section */

div#solar-kits-section {
    height: auto;
    padding: 80px 0;
}

div#solar-kits-section h2 {
    margin-bottom: 15px;
    text-align: center;
}

div#solar-kits-section p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}

div#solar-kits-section div.solar-kit-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

div#solar-kits-section div.solar-kit-cards div.solar-kit-card {
    flex: 0 0 30%;
    height: auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

div#solar-kits-section div.solar-kit-cards div.solar-kit-card div.solar-kit-card-content {
    padding: 20px;
}

div#solar-kits-section div.solar-kit-cards div.solar-kit-card img {
    width: 100%;
    height: auto;
}

div#solar-kits-section div.solar-kit-cards div.solar-kit-card h3 {
    font-weight: 600;
    font-size: 20px;
}

div#solar-kits-section div.solar-kit-cards div.solar-kit-card p {
    color: black;
    text-align: left;
}

/* second CTA */

div#second-cta-section {
    height: 505px;
    background-image: url(../images/8116\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#second-cta-section div.second-cta-content {
    width: 50%;
    background-color: #00000091;
    backdrop-filter: blur(5px); 
    padding: 44px;
    border-radius: 12px;
    text-align: center;
}

div#second-cta-section div.second-cta-content h2 {
    color: white;
}

div#second-cta-section div.second-cta-content p {
    font-size: 18px;
    line-height: 1.5rem;
}

/* Blog Section */

div#blog-section {
    padding: 80px 0;
    background-color: #FFBB1C0D;
}

div#blog-section div.content {
    display: flex;
    justify-content: space-between;
}

div#blog-section div.content div.side1 {
    flex: 0 0 30%;
}

div#blog-section div.content div.side1 div.zap-icon {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: #3CAB90;
    outline: 10px solid #3CAB9026;
    display: flex;
    justify-content: center;
    align-items: center;
}   

div#blog-section div.content div.side1 div.zap-icon i {
    color: white;
    font-size: 24px;
}   

div#blog-section div.content div.side1 h2 {
    margin-bottom: 20px;
}

div#blog-section div.content div.side1 p {
    color: black;
}

div#blog-section div.content div.side2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

div#blog-section div.content div.side2 article {
    flex: 0 0 47%;
}

div#blog-section div.content div.side2 div.blog-card {
    border: 1px solid #3CAB90;
    border-radius: 12px;
    box-shadow: 0px 4px 30px 0px #0000000D;
    padding: 24px;
}

div#blog-section div.content div.side2 div.blog-card div.image {  
    background-image: url("../images/image\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 106px;
}

div#blog-section div.content div.side2 div.blog-card div.overlay {
    width: 100%;
    height: 100%;
    background-color: #3CAB9026;
}

div#blog-section div.content div.side2 div.blog-card h2 {
    font-size: 20px;
}

div#blog-section div.content div.side2 div.blog-card p {
    color: black;
}


/* Our Values Section */

div#our-values-section {
    padding: 80px 0;
    text-align: center;
}

div#our-values-section p {
    font-size: 18px;
    color: black;
}

div#our-values-section div.values-cards {
    display: flex;
    justify-content: space-between;
}

div#our-values-section div.values-cards div.value-card {
    height: 420px;
    padding: 32px;
    background-color: #3CAB900D;
    border: 1px solid #3CAB90;
    border-radius: 12px;
    text-align: left;
    flex: 0 0 32%;
}

div#our-values-section div.values-cards div.value-card i {
    font-size: 48px;
    background: linear-gradient(90deg, #3CAB90 0.01%, #0E6752 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#our-values-section div.values-cards div.value-card h2{
    font-size: 20px;
}

div#our-values-section div.values-cards div.value-card p{
    font-weight: 400;
    font-size: 16px;
}

/* Testimonial Section */

div#testimonial-section {
    padding: 80px 0;
}

div#testimonial-section div.content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

div#testimonial-section div.side1 {
    flex: 0 0 30%;
}

div#testimonial-section div.side1 i {
    color: #3CAB90;
    font-size: 4rem;
}

div#testimonial-section div.side1 h2 {
    font-weight: 700;
    font-size: 48px;
}

div#testimonial-section div.side1 p {
    font-size: 18px;
    color: black;
}

div#testimonial-section div.side2 {
    background-color: #3CAB900F;
    border-radius: 24px;
    padding: 40px;
}

div#testimonial-section div.side2 div.testimonial-header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    color: #3CAB90;
    font-weight: 700;
    margin-bottom: 40px;
}

div#testimonial-section div.side2 div.testimonial-header div.points ul {
    width:  10px;
    height: 10px;
    cursor: pointer;
    color: #D9D9D9;
    display: flex;
    gap: 10px;
}

div#testimonial-section div.side2 div.testimonial-header div.points li.bold-point{
    color: #6B6B6B;

}

div#testimonial-section div.side2 div.testimonial-info p {
    width: 73%;
    font-size: 24px;
    color: #101828;
    margin-bottom: 70px;
}

div#testimonial-section div.side2 div.user-info {
    display: flex;
}

div#testimonial-section div.side2 div.user-info figure {
    margin-right: 10px;
}

div#testimonial-section div.side2 div.user-info div.user-details p {
    font-weight: 700;
    margin-top: 13px;
    color: black;
}

div#testimonial-section div.side2 div.user-part {
    display: flex;
    justify-content: space-between;
}

div#testimonial-section div.side2 div.user-part div.arrows {
    display: flex;
    gap: 25px;
}

div#testimonial-section div.side2 div.user-part div.arrows div {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 3px solid black;
    font-size: 32px;
}

/* Footer Section */

div#footer {
    background-color: #283646;
    padding: 80px 150px;
}

div#footer div.footer-content {
    display: flex;
    justify-content: space-between;
}

div#footer div.footer-content div.footer-info ul {
    display: flex;
    gap: 40px;
}

div#footer div.footer-content div.footer-info ul li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

div#footer div.footer-content div.footer-contact {
    position: relative;
}

div#footer div.footer-content div.footer-contact p {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.3;
    margin-bottom: 15px;
}

div#footer div.footer-content div.footer-contact form input {
    width: 406px;
    height: 48px;
    border: 1px solid #B3BDC7;
    background-color: #3b4857;
    border-radius: 38px;
    padding-left: 20px;
    color: #92989f;
    outline: none;
    font-size: 16px;
}

div#footer div.footer-content div.footer-contact form button {
    width: auto;
    height: auto;
    padding: 15.5px 26px;
    border-radius: 109px;
    background-color: #FFBB1C;
    position: absolute;
    right: -14.5px;
    top: 32px;
}

div#footer hr {
    border: 1px solid #92989f;
    margin: 50px 0;
}

div#footer div.footer-terms {
    display: flex;
    justify-content: space-between;
}

div#footer div.footer-terms p {
    color: #92989f;
    font-size: 12px;
    font-weight: 300;
}

/* Mobile responsive */

@media (max-width: 520px) {
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    /* navbar section  */
    
    #header {
        padding: 16px 40px;
    }

    #header div {
        margin-top: 10px;
    }

    #header div {
        display: none;
    }

    #header {
        gap: 10px;
    }

    .navbar-menu li a{
        padding: 8px 16px;
    }

    .navbar-menu li a{
        font-size: 12px;
    }

    #header .navbar-logo {
        width: 100px;
        height: 30px;
        margin-top: 14px;
    }

    /* First Section  */
    div#first-section {
        height: 450px;
        text-align: center;
    }

    div#first-section div.line-section {
        width: 350.83px;
    }

    div#first-section div.line-section div.line hr.line1 {
        width: 95px;
    }
    
    div#first-section div.line-section div.line hr.line2 {
        width:280px;
    }

    div#first-section div.content {
        width: 100%;
        margin: 0 auto;
    }

    div#first-section div.content h2{
        font-size: 36px;
    }

    div#first-section div.content p{
        font-size: 16px;
        margin-bottom: 40px;
    }

    div#first-section div.line-section {
        margin-bottom: 50px;
    }
    button.yellow-btn {
        font-weight: 400;
        font-size: 12px;
        width: 200px;
    }

    /* Second section */
    div#second-section {
        text-align: center;
        flex-direction: column;
    }
    div#second-section {
        gap: 20px;
    }
    div#second-section div.image-part {
        position: relative;
        flex: 0 0 49%;
    }
    
    div#second-section div.image-part div.img {
        width: 300px;
        height: 400px;
        border-radius: 12px;
        margin: 0 auto;
    }
    div#second-section div.image-part div.info {
        width: 120px;
        height: 110px;
        position: absolute;
        padding: 16px;
        bottom: 7%;
        left: -3%;
    }

    div#second-section div.image-part div.info img {
        width: 40px;
        height: 40px;
        margin-bottom: 6px;
    }
    
    div#second-section div.image-part div.info p {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 9px;
        color: black;
    }

    div#second-section div.content p.description {
        font-size: 12px;
        font-weight: 400;
        margin: 15px 0 15px 0;
    }

    div#second-section div.content p {
        margin: 5px 0;
    }

    div#second-section div.content span.content-list {
        font-size: 13px;
    }
    
    div#second-section div.content span.content-info {
        font-size: 13px;
        
    }

    /* CTA section */

    div#cta-section {
        height: 280px;
        padding: 8% 0;
        text-align: center;
    }
    
    div#cta-section div.container p {
        font-size: 14px;
        width: 100%;
        margin: 20px 0;
    }


    /* solar kits section */

    div#solar-kits-section div.solar-kit-cards {
        flex-direction: column;
        gap: 30px;
    }

    div#solar-kits-section div.solar-kit-cards div.solar-kit-card {
        flex: 0 0 50%;
    }

    /* second CTA */

    div#second-cta-section div.second-cta-content {
        width: 62%;
        padding: 32px;
    }

    div#second-cta-section div.second-cta-content h2 {
        color: white;
        font-size: 24px;
    }

    div#second-cta-section div.second-cta-content p {
        font-size: 14px;
        line-height: 1rem;
    }

    /* Blog Section */
    div#blog-section div.content{
        flex-direction: column;
    }
    div#blog-section div.content div.side1 div.zap-icon {
        margin: 0 auto 20px auto;
    }

    div#blog-section div.content div.side1 {
        margin-bottom: 30px;
        text-align: center;
    }

    div#blog-section div.content div.side2 {
        flex-direction: column;
    }

    div#blog-section div.content div.side2 article {
        flex: 0 0 100%;
    }   

    /* Our Values Section */

    
    div#our-values-section div.values-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }
    div#our-values-section div.values-cards div.value-card {
        height: 300px;
        flex: 0 0 48%;
    }
    
    div#our-values-section div.values-cards div.value-card i {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    div#our-values-section div.values-cards div.value-card h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    div#our-values-section div.values-cards div.value-card p{
        font-size: 18px;
    }

    /* Testimonial Section */

    div#testimonial-section div.content {
        flex-direction: column;

    }

    div#testimonial-section div.side1 {
        text-align: center;
    }

    div#testimonial-section div.side1 i {
        color: #3CAB90;
        font-size: 3rem;
    }
    
    div#testimonial-section div.side1 h2 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    div#testimonial-section div.side1 p {
        font-size: 16px;
        color: black;
    }
    

    div#testimonial-section div.side2 {
        height: 365px;
    }

    div#testimonial-section div.side2 div.testimonial-info p {
        width: 80%;
        font-size: 16px;
        color: #101828;
        margin-bottom: 50px;
    }

    div#testimonial-section div.side2 div.user-part div.arrows {
        gap: 15px;
        margin-top: 22px;
    }

    div#testimonial-section div.side2 div.user-info div.user-details span {
        font-weight: 300;
        margin-top: 8px;
        font-size: 10px;
        color: black;
    }
    

    div#testimonial-section div.side2 div.user-part div.arrows div {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 2px solid black;
        font-size: 24px;
    }
    
    /* Footer */
    div#footer {
        padding: 80px;
    }
    div#footer div.footer-content {
        flex-direction: column;
        text-align: center;
    }

    div#footer div.footer-content div.footer-info img {
        width: 160px;
        height: 40px;
    }
    
    div#footer div.footer-content div.footer-info ul {
        justify-content: center;
        gap: 20px;
    }
    
    div#footer div.footer-content div.footer-info ul li {
        font-size: 11px;
        margin-bottom: 20px;
    }

    div#footer div.footer-content div.footer-contact form input {
        width: 150px;
        height: 44px;
        border-radius: 34px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    div#footer div.footer-content div.footer-contact form button {
        width: 150px;
        height: 42px;
        padding: 13px 0;
        position: static;
        margin-left: 15px;
    }

    div#footer div.footer-terms p {
        font-size: 5px;
    }
}


/* Tablet responsive */

@media (min-width: 521px) and (max-width: 787px ) {

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    /* navbar section  */
    
    #header {
        padding: 16px 75px;
    }

    #header div {
        margin-top: 10px;
    }

    #header div h2 {
        font-size: 16px;
    }

    #header div span {
        font-size: 14px;
    }

    #header {
        gap: 10px;
    }

    .navbar-menu li a{
        padding: 8px 20px;
    }

    .navbar-menu li a{
        font-size: 14px;
    }

    #header .navbar-logo {
        width: 120px;
        height: 35px;
        margin-top: 10px;
    }

    /* First Section  */
    div#first-section {
        height: 500px;
    }

    div#first-section div.content {
        width: 80%;
    }

    div#first-section div.content h2{
        font-size: 36px;
    }

    div#first-section div.content p{
        font-size: 16px;
    }

    div#first-section div.line-section {
        margin-bottom: 50px;
    }

    /* Second section */

    div#second-section div.content {
        flex: 0 0 42%;
    }

    div#second-section {
        gap: 20px;
    }
    div#second-section div.image-part {
        position: relative;
        flex: 0 0 49%;
    }
    
    div#second-section div.image-part div.img {
        width: 337px;
        height: 420px;
        border-radius: 12px;
    }
    div#second-section div.image-part div.info {
        width: 150px;
        height: 140px;
        border-radius: 10px;
        position: absolute;
        bottom: 10%;
        left: -10%;
    }

    div#second-section div.image-part div.info img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    
    div#second-section div.image-part div.info p {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: black;
    }

    div#second-section div.content p.description {
        font-size: 12px;
        font-weight: 400;
        margin: 15px 0 15px 0;
    }

    div#second-section div.content p {
        margin: 5px 0;
    }

    div#second-section div.content span.content-list {
        font-size: 13px;
    }
    
    div#second-section div.content span.content-info {
        font-size: 13px;
        
    }

    /* CTA section */

    div#cta-section {
        height: 350px;
        padding: 8% 0;
    }
    
    div#cta-section div.container p {
        font-size: 16px;
    }


    /* solar kits section */

    div#solar-kits-section div.solar-kit-cards {
        gap: 50px;
    }

    div#solar-kits-section div.solar-kit-cards div.solar-kit-card {
        flex: 0 0 45%;
    }

    /* Blog Section */

    div#blog-section div.content div.side1 div.zap-icon {
        margin: 0 auto 20px auto;
    }

    div#blog-section div.content {
        flex-direction: column;
    }

    div#blog-section div.content div.side1 {
        margin-bottom: 30px;
        text-align: center;
    }

    div#blog-section div.content div.side2 article {
        flex: 0 0 44%;
    }   
    /* Our Values Section */

    
    div#our-values-section div.values-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    div#our-values-section div.values-cards div.value-card {
        height: 300px;
        flex: 0 0 48%;
    }
    
    div#our-values-section div.values-cards div.value-card i {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    div#our-values-section div.values-cards div.value-card h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    div#our-values-section div.values-cards div.value-card p{
        font-size: 14px;
    }

    /* Testimonial Section */

    div#testimonial-section div.side1 i {
        color: #3CAB90;
        font-size: 3rem;
    }
    
    div#testimonial-section div.side1 h2 {
        font-weight: 700;
        font-size: 32px;
    }
    
    div#testimonial-section div.side1 p {
        font-size: 16px;
        color: black;
    }
    

    div#testimonial-section div.side2 {
        height: 365px;
    }

    div#testimonial-section div.side2 div.testimonial-info p {
        width: 80%;
        font-size: 16px;
        color: #101828;
        margin-bottom: 50px;
    }

    div#testimonial-section div.side2 div.user-part div.arrows {
        gap: 15px;
    }

    div#testimonial-section div.side2 div.user-info div.user-details span {
        font-weight: 300;
        margin-top: 8px;
        font-size: 10px;
        color: black;
    }
    

    div#testimonial-section div.side2 div.user-part div.arrows div {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 2px solid black;
        font-size: 24px;
    }
    
    /* Footer */

    div#footer div.footer-content {
        flex-direction: column;
        text-align: center;
    }

    div#footer div.footer-content div.footer-info img {
        width: 160px;
        height: 40px;
    }
    
    div#footer div.footer-content div.footer-info ul {
        justify-content: center;
        gap: 20px;
    }
    
    div#footer div.footer-content div.footer-info ul li {
        font-size: 11px;
        margin-bottom: 20px;
    }

    div#footer div.footer-content div.footer-contact form input {
        width: 250px;
        height: 44px;
        border-radius: 34px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    div#footer div.footer-content div.footer-contact form button {
        width: 250px;
        height: 42px;
        padding: 13px 0;
        position: static;
    }

    div#footer div.footer-terms p {
        font-size: 8px;
    }
}



/* media for laptops */


@media (min-width: 788px) and (max-width: 1024px) {

    /* navbar responsive */
    h2 {
        font-size: 32px;
    }

    p {
        font-size: 14px;
    }

    .navbar-logo {
        width: 130px;
        height: 40px;
        margin-top: 8px;
    }

    #header div h2 {
        font-size: 14px;
        margin-top: 10px;
    }
    
    #header div span {
        font-size: 14px;
        position: absolute;
        right: 0%;
        margin-top: 10px;
    }


    div#first-section {
        height: 550px;
    }

    div#first-section div.content {
        width: 70%;
    }

    div#first-section div.line-section {
        margin-bottom: 70px;
    }
    /* First section  */

    div#first-section {
        height: 550px;
    }

    div#first-section div.content {
        width: 70%;
    }

    div#first-section div.line-section {
        margin-bottom: 70px;
    }

    /* Second section */

    div#second-section div.content {
        flex: 0 0 44%;
    }

    div#second-section div.image-part {
        position: relative;
        flex: 0 0 48%;
    }
    
    div#second-section div.image-part div.img {
        width: 387px;
        height: 480px;
        border-radius: 12px;
    }
    div#second-section div.image-part div.info {
        width: 220px;
        height: 170px;
        padding: 24px 30px;
        border-radius: 10px;
        position: absolute;
        bottom: 25%;
        left: -15%;
    }

    div#second-section div.image-part div.info img {
        width: 60px;
        height: 60px;
    }
    
    div#second-section div.image-part div.info p {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: black;
    }

    div#second-section div.content p {
        margin: 30px 0;
    }

    div#second-section div.content span.content-list {
        font-size: 16px;
    }
    
    div#second-section div.content span.content-info {
        font-size: 16px;
    }
    
    /* CTA section */
    div#cta-section {
        height: 405px;
        padding: 8% 0;
    }
    
    div#cta-section div.container p {
        font-size: 18px;
    }

    /* Blog Section */
    div#blog-section div.content div.side1 {
        flex: 0 0 25%;
    }

    div#blog-section div.content div.side2 article {
        flex: 0 0 45%;
    }

    /* Our Values Section */

    div#our-values-section div.values-cards div.value-card {
        height: 340px;
    }
    
    div#our-values-section div.values-cards div.value-card i {
        font-size: 36px;
        margin-bottom: 15px;
    }
    
    div#our-values-section div.values-cards div.value-card h2{
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    div#our-values-section div.values-cards div.value-card p{
        font-size: 14px;
    }

    /* Testimonial Section */

    div#testimonial-section div.side2 div.testimonial-info p {
        width: 73%;
        font-size: 20px;
        color: #101828;
        margin-bottom: 50px;
    }

    /* footer section */

    div#footer div.footer-content div.footer-info img {
        width: 200px;
        height: 45px;
    }
    
    div#footer div.footer-content div.footer-info ul {
        gap: 20px;
    }
    
    div#footer div.footer-content div.footer-info ul li {
        font-size: 11px;
    }

    div#footer div.footer-content div.footer-contact form input {
        width: 350px;
        height: 44px;
        border-radius: 34px;
        font-size: 14px;
    }
    
    div#footer div.footer-content div.footer-contact form button {
        width: 100px;
        height: 42px;
        padding: 13px 20px;
        position: absolute;
        right: -14.5px;
        top: 32.5px;
    }
}

